<div class="row figth-body">
	<div class="container">
	  <div class="col-md-8">
			<div class="fight-img">
				<%= image_tag 'sanda', height: '420' %>
			</div>
	  	<div class="fight-user">
				<div class="media">
				  <div class="media-left">
				    <a href="#">
				      <%= image_tag "index-1a", size: '80', class: "avatar" %>
				    </a>
				    <h5>Shin Zhang</h5>
				    <%= button_tag(type: 'submit', class: "btn btn-xs btn-info") do %>
						  <%= fa_icon "plus", text: "Follow" %>
						<% end %>
				  </div>
				  <div class="media-body">
						<p>Aikido Demonstration by Bruno Gonzalez's Team at SportAccord World Combat Games 2013. With Bruno Gonzalez, 5th Dan, Henriette Flader, 2nd Dan, Hélène Doué, 4th Dan and Fabrice Croizé, 4th Dan, from France. Footage courtesy of IES in Sports and SportAccord.</p>

						<span class="social-action">
				      <ul class="list-inline">
				        <li><i class="fa fa-heart"></i>289</li>
				        <li><%= fa_icon "comment" %><%= 208 -%></li>
				        <li><i class="fa fa-share-square-o"></i></li>
				      </ul>
				    </span>
				  </div>
				</div>
	  	</div>

	  	<div class="figth-comment">
	  		<div class="row">
	  			<div class="col-md-1">
	  				<%= link_to image_tag "logo-2.png", size: "32", class: "img-circle avatar" %>
	  			</div>
				  <div class="col-md-11">
				  	<textarea class="form-control" rows="3"></textarea>
				  	<%= button 'Comment', context: :info %>
				  </div>
				</div>
	  	</div>

	  	<div class="figth-comment">
	  		<h4>21 Comment</h4>
	  		<div class="row">
	  			<div class="col-md-1">
	  				<%= link_to image_tag "logo-2.png", size: "32", class: "img-circle avatar" %>
	  			</div>
				  <div class="col-md-11">
				  	<h5>Michael Pykh</h5>
				  	<p>Henriette Flader, 2nd Dan, Hélène Doué,</p>
				  	<small>2016年3月7日</small>
				  </div>
				</div>
				<hr>
				<div class="row">
	  			<div class="col-md-1">
	  				<%= link_to image_tag "logo-2.png", size: "32", class: "img-circle avatar" %>
	  			</div>
				  <div class="col-md-11">
				  	<h5>Michael Pykh</h5>
				  	<p>Henriette Flader, 2nd Dan, Hélène Doué,</p>
				  	<small>2016年3月7日</small>
				  </div>
				</div>
				<hr>
				<div class="row">
	  			<div class="col-md-1">
	  				<%= link_to image_tag "logo-2.png", size: "32", class: "img-circle avatar" %>
	  			</div>
				  <div class="col-md-11">
				  	<h5>Michael Pykh</h5>
				  	<p>Henriette Flader, 2nd Dan, Hélène Doué,</p>
				  	<small>2016年3月7日</small>
				  </div>
				</div>
				<hr>
				<div class="row">
	  			<div class="col-md-1">
	  				<%= link_to image_tag "logo-2.png", size: "32", class: "img-circle avatar" %>
	  			</div>
				  <div class="col-md-11">
				  	<h5>Michael Pykh</h5>
				  	<p>Henriette Flader, 2nd Dan, Hélène Doué,</p>
				  	<small>2016年3月7日</small>
				  </div>
				</div>
	  	</div>
	  </div>
	  <div class="col-md-4">
	  	<div class="figth-recommend">
	  		<h4>推荐</h4>
				<div class="row">
	  			<div class="col-md-12">
	  				<div class="media">
						  <div class="media-left">
						    <%= link_to image_tag "feed", height: '60' %>
						  </div>
						  <div class="media-body">
						  	<small>Henriette Flader, 2nd Dan, Hélène Doué,</small>
						    <h6 class="media-heading">Media heading</h6>
						  </div>
						</div>

						<div class="media">
						  <div class="media-left">
						    <%= link_to image_tag "feed", height: '60' %>
						  </div>
						  <div class="media-body">
						  	<small>Henriette Flader, 2nd Dan, Hélène Doué,</small>
						    <h6 class="media-heading">Media heading</h6>
						  </div>
						</div>

						<div class="media">
						  <div class="media-left">
						    <%= link_to image_tag "feed", height: '60' %>
						  </div>
						  <div class="media-body">
						  	<small>Henriette Flader, 2nd Dan, Hélène Doué,</small>
						    <h6 class="media-heading">Media heading</h6>
						  </div>
						</div>

						<div class="media">
						  <div class="media-left">
						    <%= link_to image_tag "feed", height: '60' %>
						  </div>
						  <div class="media-body">
						  	<small>Henriette Flader, 2nd Dan, Hélène Doué,</small>
						    <h6 class="media-heading">Media heading</h6>
						  </div>
						</div>
	  			</div>
				</div>
	  	</div>
	  </div>
	</div>
</div>
