<div class="row home-feed">
  <div class="col-md-9">

  	<div class="col-md-3">
	    <div class="thumbnail">
	      <%= image_tag("index-9") %>
	      <div class="caption">
	        <span class="social-action">
			      <ul class="list-inline">
			        <li><i class="fa fa-heart"></i>289</li>
			        <li><%= fa_icon "comment" %><%= 208 -%></li>
			        <li><i class="fa fa-share-square-o"></i></li>
			      </ul>
			    </span>
			    <hr>
			    <div class="media">
					  <div class="media-left media-middle">
					    <%= image_tag "shin-avatar", size: "18", class: "img-circle" %>
					  </div>
					  <div class="media-body">
					    <h6 class="media-heading"><%= link_to "Shin Zhang", "#" %></h6>
					  </div>
					</div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-3">
	    <div class="thumbnail">
	      <%= image_tag("index-7") %>
	      <div class="caption">
	        <span class="social-action">
			      <ul class="list-inline">
			        <li><i class="fa fa-heart"></i>289</li>
			        <li><%= fa_icon "comment" %><%= 208 -%></li>
			        <li><i class="fa fa-share-square-o"></i></li>
			      </ul>
			    </span>
			    <hr>
			    <div class="media">
					  <div class="media-left media-middle">
					    <%= image_tag "shin-avatar", size: "18", class: "img-circle" %>
					  </div>
					  <div class="media-body">
					    <h6 class="media-heading"><%= link_to "Shin Zhang", "#" %></h6>
					  </div>
					</div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-3">
	    <div class="thumbnail">
	      <%= image_tag("index-8a") %>
	      <div class="caption">
	        <span class="social-action">
			      <ul class="list-inline">
			        <li><i class="fa fa-heart"></i>289</li>
			        <li><%= fa_icon "comment" %><%= 208 -%></li>
			        <li><i class="fa fa-share-square-o"></i></li>
			      </ul>
			    </span>
			    <hr>
			    <div class="media">
					  <div class="media-left media-middle">
					    <%= image_tag "shin-avatar", size: "18", class: "img-circle" %>
					  </div>
					  <div class="media-body">
					    <h6 class="media-heading"><%= link_to "Shin Zhang", "#" %></h6>
					  </div>
					</div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-3">
	    <div class="thumbnail">
	      <%= image_tag("index-11") %>
	      <div class="caption">
	        <span class="social-action">
			      <ul class="list-inline">
			        <li><i class="fa fa-heart"></i>289</li>
			        <li><%= fa_icon "comment" %><%= 208 -%></li>
			        <li><i class="fa fa-share-square-o"></i></li>
			      </ul>
			    </span>
			    <hr>
			    <div class="media">
					  <div class="media-left media-middle">
					    <%= image_tag "shin-avatar", size: "18", class: "img-circle" %>
					  </div>
					  <div class="media-body">
					    <h6 class="media-heading"><%= link_to "Shin Zhang", "#" %></h6>
					  </div>
					</div>
	      </div>
	    </div>
	  </div>


  </div>







  <div class="col-md-3">
  	
  </div>
</div>

