<% provide(:title, "Home") %>

<div class="row home">
	<div class="col-md-12 slogan">
		<h1><strong>Fighting Technology Group Hub</strong></h1>
		<h4>在这里汇聚着一群格斗技术爱好者</h4>
		<h5>在这里有练习太极、八卦、形意拳、拳击、空手道、跆拳道、柔道、剑道...等中外武者</h5>
		<h4>在这里可以记录下你在格斗道路上的点滴</h4>
		<h4>在这里通过分享、交流获得更多的乐趣</h4>
		<h4>欢迎来到Fighting Technology Group Hub</h4>
	</div>

	<div class="col-md-12 logo">
		<%= fa_icon "product-hunt 5x" %>
	</div>

	<div class="col-md-6 col-md-offset-3 photo">
		<ul class="list-inline">
			<li data-toggle="tooltip" data-placement="left" title="修练功夫的目的不是致力于击破石块或木板，我们更关心的是用它影响我们的整个思想和生活方式。"><%= image_tag("index-9", size: "200") %></li>
			<li><%= image_tag("index-10a", size: "200") %></li>
		</ul>
	</div>
	<div class="col-md-10 col-md-offset-1 photo">
		<ul class="list-inline">
			<li><%= image_tag("index-2", size: "200") %></li>
			<li><%= image_tag("index-5", size: "200") %></li>
			<li><%= image_tag("index-13", size: "200") %></li>
			<li><%= image_tag("index-12a", size: "200") %></li>
		</ul>
	</div>
	<div class="col-md-10 col-md-offset-1 photo">
		<ul class="list-inline">
			<li><%= image_tag("index-4", size: "200") %></li>
			<li><%= image_tag("index-14", size: "200") %></li>
			<li>
				<blockquote>
				  <p>修练功夫的目的不是致力于击破石块或木板，我们更关心的是用它影响我们的整个思想和生活方式。</p>
				</blockquote>
			</li>
		</ul>
	</div>

	<div class="col-md-10 col-md-offset-1 photo">
		<ul class="list-inline">
			<li><%= image_tag("index-6", size: "200") %></li>
			<li><%= image_tag("index-8a", size: "200") %></li>
			<li><%= image_tag("index-5", size: "200") %></li>
			<li><%= image_tag("index-1", size: "200") %></li>
		</ul>
	</div>

	<div class="col-md-10 col-md-offset-1 photo">
		<ul class="list-inline">
			<li><%= image_tag("index-11", size: "200") %></li>
			<li>
				<blockquote>
				  <p>让我们通过格斗运动获得健康和乐趣</p>
				</blockquote>
			</li>
			<li><%= image_tag("index-7a", size: "200") %></li>
		</ul>
	</div>

	<div class="col-md-10 col-md-offset-1 photo">
		<ul class="list-inline">
			<li><%= image_tag("index-8", size: "200") %></li>
			<li><%= image_tag("index-6a", size: "200") %></li>
			<li><%= image_tag("index-2", size: "200") %></li>
			<li><%= image_tag("index-4", size: "200") %></li>
		</ul>
	</div>
	
	<hr>

</div>

<script>
	
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>

