<% provide(:title, 'setting') %>

<div class="row common-header">
  <div class="col-xs-1">
     <%= link_to (fa_icon "angle-left"), '#', class: "fa-2x" %>
  </div>
  <div class="col-xs-10">
    <p>setting</p>
  </div>
</div>


<table class="table table-striped common-list setting-table">
  <tr>
  	<td><p>关注FTG公众号</p></td>
  </tr>
  <tr>
    <td><p>关注FTG微博号</p></td>
  </tr>
  <tr>
    <td><p>获得FTG礼品</p></td>
  </tr>
  <tr>
    <td><p>给我们评价</p></td>
  </tr>
  <tr>
    <td><p>给我们建议</p></td>
  </tr>
</table>


<table class="table table-striped common-list setting-table setting-other">
  <tr>
    <td><p>设置提醒</p></td>
    <td class="angle-right"><%= link_to (fa_icon "angle-right"), '#' %></td>
  </tr>
  <tr>
    <td><p>管理黑名单</p></td>
    <td class="angle-right"><%= link_to (fa_icon "angle-right"), '#' %></td>
  </tr>
  <tr>
    <td><p>设置隐私</p></td>
    <td class="angle-right"><%= link_to (fa_icon "angle-right"), '#' %></td>
  </tr>
</table>

<table class="table table-striped common-list setting-table setting-other">
  <tr>
    <td><p>使用条款</p></td>
    <td class="angle-right"><%= link_to (fa_icon "angle-right"), '#' %></td>
  </tr>
  <tr>
    <td><p>隐私条款</p></td>
    <td class="angle-right"><%= link_to (fa_icon "angle-right"), '#' %></td>
  </tr>
  <tr>
    <td><p>版权声明</p></td>
    <td class="angle-right"><%= link_to (fa_icon "angle-right"), '#' %></td>
  </tr>
</table>

<table class="table table-striped common-list setting-table">
  <tr>
    <td><p>清空缓存</p></td>
  </tr>
  <tr>
    <td><p>退出账号</p></td>
  </tr>
  <tr>
    <td><p>删除账号</p></td>
  </tr>
</table>
