<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @user do |f| %>
		  <%= f.input :name %>
		  <%= f.input :email %>
		  <%= f.input :password %>
		  <%= f.input :password_confirmation %>
			<%= f.button :submit, "Create my account", class: "btn btn-primary" %>
		<% end %>
  </div>
</div>
