<%= provide(:title, @user.name) %>

<div class="user-show">
  <div class="row user-show-head">
    <div class="col-xs-4 left">
      <p><i class="fa fa-user-plus"></i></p>
    </div>
    <div class="col-xs-4 center">
      <h5 class="text-center"><%= @user.name %></h5>
    </div>
    <div class="col-xs-4 right">
      <p class="text-right"><i class="fa fa-cog"></i></p>
    </div>
  </div>
  <div class="row user-show-avatar">
    <div class="col-md-12 text-center">
      <%= image_tag("user.jpg", size: "80", alt: @user.name, class: "img-circle avatar" ) %>
      <p><small>@shinplus</small></p>
      <p>
        <small>
          <% if @profile.nil? %>
            暂无个人介绍!
          <% else %>
            <%= @profile.introduction %>
          <% end %>
        </small>
      </p>
    </div>
  </div>
  <div class="row user-show-content">
    <div class="col-md-12 text-center">
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
      <% if user_signed_in? && @user == current_user -%>
        <p><%= link_to "edit profile", profile_path, class: 'btn btn-default', role: 'button' -%></p>
      <% end -%>
    </div>
  </div>
  <div class="row user-show-video">
    <div class="col-xs-4">
      <%= image_tag("index2-1") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("index2-1") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("index2-1") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("index2-1") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("index2-1") %>
    </div>
    <div class="col-xs-4">
      <%= image_tag("index2-1") %>
    </div>
  </div>
</div>





<%# if @user.fightposts.any? %>
  <%#= @user.fightposts.count %>
  <%#= render @fightposts %>
<%# end %>


<!-- <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%#= image_tag("user.jpg", size: "80", alt: @user.name, class: "avatar" ) %>
        <%#= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%#= render 'shared/stats' %>
    </section>
    <section class="stats">
      <%#= render 'follow_form' if user_signed_in? %>
    </section>
    <section class="stats">
      <%# if @profile.nil? %>
        暂时无资料!
      <%# else %>
        <%#= @profile.introduction %>
      <%# end %>

      <%# if user_signed_in? && @user == current_user -%>
          <p><%#= link_to "Edit Profile", profile_path %></p>
      <%# end -%>
    </section>
  </aside>

  <div class="col-md-8">
    <%# if @user.fightposts.any? %>
      <h3>Fightposts (<%#= @user.fightposts.count %>)</h3>
      <ol class="fightposts">
        <%#= render @fightposts %>
      </ol>
      <%#= will_paginate @fightposts %>
    <%# end %>
  </div>
</div> -->
