<%= provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag("user.jpg", size: "80", alt: @user.name, class: "gravatar") %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="stats">
      <%= render 'follow_form' if user_signed_in? %>
    </section>
    <section class="stats">
      <% if @profile.nil? %>
        暂时无资料!
      <% else %>
        <%= @profile.introduction %>
      <% end %>

      <% if user_signed_in? -%>
        <p><%= link_to "Edit Profile", edit_profile_path(current_user) %></p>
      <% else %>
        <p><%= link_to "New Profile", new_profile_path %></p>
      <% end %>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.fightposts.any? %>
      <h3>Fightposts (<%= @user.fightposts.count %>)</h3>
      <ol class="fightposts">
        <%= render @fightposts %>
      </ol>
      <%= will_paginate @fightposts %>
    <% end %>
  </div>
</div>
