<% provide(:title, 'Log in') %>

<h1><strong>Fighting Technology Group Hub</strong></h1>
<h2>Log in</h2>

<div class="row login">
  <div class="col-md-6 col-md-offset-3">
  	<div class="row">
  		<div class="col-md-6">
  			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="form-inputs">
				    <%= f.input :email, required: false, autofocus: true %>
				    <%= f.input :password, required: false %>
				    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				  </div>

				  <div class="form-actions">
				    <%= f.button :submit, "Log in", class: "btn btn-info" %>
				  </div>
				<% end %>

				<%= render "devise/shared/links" %>
  		</div>
 			<div class="col-md-6">
 				<%= link_to (fa_icon "weixin", text: "微信登录"), "#", class: "btn btn-success weixin" %><br>
 				<small>One-click sign in to Dribbble if your account is connected to Twitter. We'll walk you through connecting it if it isn't.
</small>
 			</div>

  	</div>
  </div>
</div>