<!-- <ul class="media-list">
  <li class="media">
    <div class="media-left">
      <%#= link_to image_tag("user.jpg", size: "50", class: "media-object"), fightpost.user %>
    </div>
    <div class="media-body">
      <h5 class="media-heading"><%#= link_to fightpost.user.name, fightpost.user %></h5>
      <span class="content">
        <%#= image_tag fightpost.picture.url if fightpost.picture? %>
        <%#= link_to fightpost.content, fightpost %></p>
      </span>
      <span class="tag">
        Tags: <%#= raw fightpost.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %>
      </span>
      <span class="timestamp">
        Posted <%#= time_ago_in_words(fightpost.created_at) %> ago.
        <%# if current_user?(fightpost.user) %>
          <%#= link_to "delete", fightpost, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <%# end %>
      </span>
    </div>
    <span class="social-action">
      <ul class="list-inline">
        <li><%#= render partial: 'likers/like_form', locals: { fightpost: fightpost } -%></li>
        <li><%#= link_to (fa_icon "comment"), fightpost %><%#= fightpost.comments.count -%></li>
        <li><i class="fa fa-share-square-o"></i></li>
      </ul>
    </span>
  </li>
</ul> -->
<div class="col-md-3">
  <div class="thumbnail">
    <%= image_tag "atelier-rails-interactifs", class: "thumbnail-img" %>
    <div class="content">
      <p><%= link_to fightpost.content, fightpost %></p>
      <span><small>Posted <%= time_ago_in_words(fightpost.created_at) %>  ago.</small></span>
      <span class="tag"><small>Tags: <%= raw fightpost.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></small></span>
    </div>
    <div class="caption">
      <span class="social-action">
        <ul class="list-inline">
          <li><%= render partial: 'likers/like_form', locals: { fightpost: fightpost } -%></li>
          <li><%= link_to (fa_icon "comment"), fightpost %><%= fightpost.comments.count -%></li>
          <li><%= link_to (fa_icon "share-square-o"), "#" %></li>
        </ul>
      </span>
      <hr>
      <div class="media">
        <div class="media-left media-middle">
          <ul class="list-inline">
            <li>
              <%= image_tag "shin-avatar", size: "18", class: "img-circle" %>
            </li>
            <li>
              <h6 class="media-heading"><%= link_to fightpost.user.name, fightpost.user %></h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
