<li id="fightpost-<%= fightpost.id %>">
	<%= link_to image_tag("user.jpg", size: "50", class: "gravatar"), fightpost.user %>
  <span class="user"><%= link_to fightpost.user.name, fightpost.user %></span>
  <span class="content">
    <%= fightpost.content %>
    <%= image_tag fightpost.picture.url if fightpost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(fightpost.created_at) %> ago.
    <% if current_user?(fightpost.user) %>
      <%= link_to "delete", fightpost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>