<div class="col-md-3">
  <div class="thumbnail">
    <%= image_tag fightpost.picture.url if fightpost.picture? %>
    <div class="caption">
      <span class="social-action">
	      <ul class="list-inline">
	        <li><i class="fa fa-heart"></i>289</li>
	        <li><%= fa_icon "comment" %><%= 208 -%></li>
	        <li><i class="fa fa-share-square-o"></i></li>
	      </ul>
	    </span>
	    <hr>
	    <div class="media">
			  <div class="media-left media-middle">
			  	<%= link_to image_tag("user.jpg", size: "18", class: "img-circle"), fightpost.user %>
			  </div>
			  <div class="media-body">
			    <h6 class="media-heading"><%= link_to fightpost.user.name, fightpost.user %></h6>
			  </div>
			</div>
    </div>
  </div>
</div>