<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
  <a class="navmenu-brand visible-md visible-lg" href="#">FTGHUB</a>
  <% if user_signed_in? %>
    <% if !current_user.profile.avatar.nil? %>
      <%= image_tag("shin-avatar", size: "36", class: "img-circle ftglogo") %>
      <h5 class="ftglogo"><%= current_user.name %></h5>
    <% else %>
      <li><%= link_to image_tag "logo-2.png", size: "36", class: "img-circle ftglogo" %></li>
      <h5 class="ftglogo"><%= current_user.name %></h5>
    <% end %>
    <hr>
    <ul class="nav navmenu-nav">
      <li><%= link_to (fa_icon "youtube-play", text: "推荐"), root_path %></li>
      <li><%= link_to (fa_icon "search", text: "发现"), discover_path %></li>
      <li><a href="../navmenu-reveal/"><i class="fa fa-star"></i>发布</a></li>
      <li><%= link_to (fa_icon "envelope", text: "消息"), '#' %></li>
      <li><%= link_to (fa_icon "user", text: "个人信息"), user_path(current_user) %></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
            <%= current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t('menu.users'), users_path %></li>
            <li><%= link_to t('menu.notice'), "#" %></li>
            <li><%= link_to t('menu.show'), user_path(current_user) %></li>
            <li><%= link_to t('menu.edit_password'), edit_user_registration_path %></li>
            <li><%= link_to t('menu.logout'), destroy_user_session_path, method: :delete %></li>
            <li><%= link_to t('menu.sign_up'), new_user_registration_path %></li>
            <li><%= link_to t('menu.login'), new_user_session_path %></li>
          </ul>
      </li>
    </ul>
  <% end %>
  <hr>
  <%= image_tag("ftglogo", width: '98', class: "ftglogo" ) %>
</div>

<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>