<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "FTGHUB", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Show", user_path(current_user) %></li>
              <li><%= link_to 'Edit password', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>